body{
    background-color: rgb(206, 206, 163);
}
.title{
    font-family: sans-serif;
    display: block;
    text-align: center;
}
.card{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    ),
    url("imgs/foto1.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: 0 0 15px 0 black;
    position: relative;
}

.text{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin: 10%;
    text-align: justify;
}

.place{
    margin-left: 40%;
    position: absolute;
    bottom: 80px;
    color: white;
    font-size: large;
}