body{
    background: rgb(243, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    ),
    url("imgs/dantenova.jpg");
}

.titulo{
    text-align: center;
    color: white;
}

.lista{
    color: white;
}
.end{
    color: white;
    text-align: center;
}