body{
    background: rgb(235, 170, 170);
    background-image: url(imgs/fotow.jpeg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    margin-top: 30%;
    width: 100px;
    height: 50px;
    border: 1px, solid, black;
    background-color: rgba(190, 190, 133, 0.5);
    border-radius: 5px;
}

.boton{
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    text-decoration: none;
}

